/ Header and Nav
%nav.top-bar
  %ul
    %li.name
      %h1
        %a{:href => "/"}
          RedTracker
  %section
    / Left Nav Section
    %ul.left
    / Right Nav Section
    %ul.right
/ End Header and Nav