/ Header and Nav
%nav.top-bar
  %ul
    %li.name
      %h1
        %a{:href => "/"}
          RedTracker
  %section
    / Left Nav Section
    %ul.left
      %li.divider
      %li
        Stuff
      %li.divider
      %li
        %a{:href => "#"} Meal Plans
      %li.divider
      %li
        %a{:href => "#"} Shopping List
      %li.divider
    / Right Nav Section
    %ul.right
/ End Header and Nav