.panel
  %h5
    %bold Categories
  .section-container.vertical-nav{"data-options" => "deep_linking: false; one_up: true", "data-section" => ""}
    -categories.each do |category|
      %section.section
        %h5.title
          %a{:href => root_path({:category=>category})}= category