- unless posts.empty?
  =render :partial => "post", :collection=>posts        
  #load-more.large-12.column
    -params[:page] = params[:page] ? (params[:page].to_i + 1) : 2
    =link_to "Load More Posts!", root_path(params)