.row
  / This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens
  .large-6.columns
    - @posts.each do |post|
      =render :partial => "feed_item", :locals=>{:post=>post}
      -unless post == @posts.last
        %hr
