.hidden{
    display:none;
}

.off{
    color:red !important;
    text-decoration:line-through;
}

#stream .post{
  background-color:#D1D1D1;
  padding-top:10px;
  padding-bottom:10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#stream .post .description{

}

#stream .post .dev-name{
  float:right;
}

ul#categories, ul.subcategories{
    list-style-type: none;
    border:none;
}

ul#categories li label, ul.subcategories li label{
    color:green;
}


div#side-nav{
    padding:.25em;
}

.description ul{
  padding-left:10px;
}